<div style="" class="flex flex-wrap justify-center text-4xl text-black-300">

  <div class="mx-4 pb-6 pt-2 shadow-lg w-full lg:w-1/5">
    <div style="" class="mx-2">
      <span class="material-symbols-outlined text-orange-400 !text-6xl">person</span>
    </div>
    <div class="mx-4 mt-2 text-2xl font-bold">
      Koki
    </div>
    <div class="mx-4 text-xl mt-2 text-gray-600">
      Pengalaman selama 10 tahun di restoran
    </div>
  </div>

  <div class="mx-4 pb-6 pt-2 shadow-lg w-full mt-6 lg:w-1/5 lg:mt-0">
    <div style="" class="mx-2">
      <span class="material-symbols-outlined text-orange-400 !text-6xl">restaurant</span>
    </div>
    <div class="mx-4 mt-2 text-2xl font-bold">
      Menu yang sehat
    </div>
    <div class="mx-4 text-xl mt-2 text-gray-600">
      Kami menghindari sebisa mungkin bahan-bahan berpengawet dan pewarna sintetis
    </div>
  </div>

  <div class="mx-4 pb-6 pt-2 shadow-lg w-full mt-6 lg:w-1/5 lg:mt-0">
    <div style="" class="mx-2">
      <span class="material-symbols-outlined text-orange-400 !text-6xl">shopping_cart_checkout</span>
    </div>
    <div class="mx-4 mt-2 text-2xl font-bold">
      Pesan Online
    </div>
    <div class="mx-4 text-xl mt-2 text-gray-600">
      Males keluar? bisa online juga kok
    </div>
  </div>

  <div style="" class="mx-4 pb-6 pt-2 shadow-lg w-full mt-6 lg:w-1/5 lg:mt-0">
    <div style="" class="mx-2">
      <span class="material-symbols-outlined text-orange-400 !text-6xl">call</span>
    </div>
    <div class="mx-4 mt-2 text-2xl font-bold">
      Butuh Bantuan?
    </div>
    <div class="mx-4 text-xl mt-2 text-gray-600">
      Pesan custom? undangan? katering? jangan sungkan
    </div>
  </div>          
</div>