<div class="text-orange-400 font-pacifico text-center text-2xl mt-14">Team Kami</div>
<div class="text-center text-5xl font-bold mt-14">Chef kami</div>
<div style="" class="mt-24 flex flex-wrap justify-center">
  <div style="" class="mx-6 shadow-lg lg:w-60 text-center pt-4">
    <div class="chef-photo">
      <img src="{{ 'team-1.jpg' | asset_url }}" class="hover:scale-125 transition duration-500 cursor-pointer"/>
    </div>
    <div class="font-bold text-xl">Asep</div>
    <div class="text-gray-600">Koki</div>
  </div>

  <div style="" class="mx-6 shadow-lg lg:w-60 text-center pt-4">
    <div class="chef-photo">
      <img src="{{ 'team-1.jpg' | asset_url }}" class="hover:scale-125 transition duration-500 cursor-pointer"/>
    </div>
    <div class="font-bold text-xl">Asep</div>
    <div class="text-gray-600">Koki</div>
  </div>
</div>