<div class="text-orange-400 font-pacifico text-center text-2xl mt-24">Testimoni</div>
<div class="text-center text-5xl font-bold mt-14 px-4 lg:px-0">Review pelanggan kami</div>
<div data-controller="carousel">
  <div data-carousel-target="wrapper" style="" class="whitespace-nowrap mt-24 h-64 max-w-screen-lg mx-auto overflow-x-hidden">

    <div data-carousel-target="content" class="align-top lg:w-1/2 inline-block h-56" style="">
      <div class="mx-4 shadow-lg block h-52 flex flex-col justify-between pb-2" style="">
        <div> 
          <span class="material-symbols-outlined text-orange-400 !text-5xl">format_quote</span>
        </div>
        <div class="whitespace-normal mx-4 text-gray-600">
          Joss nih makanannya, gak enek walaupun porsi jumbo
        </div>
        <div class="whitespace-normal mx-4 text-gray-600 flex items-center mt-4 h-full  align-bottom">
          <div><!-- image --></div>
          <div>
            <div class="font-bold text-xl">Asep</div>
            <div>Pecinta kuliner</div>
          </div>
        </div>
      </div>
    </div> 
    
    <div data-carousel-target="content" class="align-top lg:w-1/2 inline-block h-56" style="">
      <div class="mx-4 shadow-lg block h-52 flex flex-col justify-between pb-2" style="">
        <div> 
          <span class="material-symbols-outlined text-orange-400 !text-5xl">format_quote</span>
        </div>
        <div class="whitespace-normal mx-4 text-gray-600">
          Makanannya sehat, cocok buat olahragawan.
        </div>
        <div class="whitespace-normal mx-4 text-gray-600 flex items-center mt-4 h-full  align-bottom">
          <div><!-- image --></div>
          <div>
            <div class="font-bold text-xl">Toni</div>
            <div>Olahragawan</div>
          </div>
        </div>
      </div>
    </div> 

     <div data-carousel-target="content" class="align-top lg:w-1/2 inline-block h-56" style="">
      <div class="mx-4 shadow-lg block h-52 flex flex-col justify-between pb-2" style="">
        <div> 
          <span class="material-symbols-outlined text-orange-400 !text-5xl">format_quote</span>
        </div>
        <div class="whitespace-normal mx-4 text-gray-600">
          Makanannya sehat, cocok buat olahragawan.
        </div>
        <div class="whitespace-normal mx-4 text-gray-600 flex items-center mt-4 h-full align-bottom">
          <div><!-- image --></div>
          <div>
            <div class="font-bold text-xl">Toni</div>
            <div>Olahragawan</div>
          </div>
        </div>
      </div>
    </div> 

    <div data-carousel-target="content" class="align-top lg:w-1/2 inline-block h-56" style="">
      <div class="mx-4 shadow-lg block h-52 flex flex-col justify-between pb-2" style="">
        <div> 
          <span class="material-symbols-outlined text-orange-400 !text-5xl">format_quote</span>
        </div>
        <div class="whitespace-normal mx-4 text-gray-600">
          Makanannya sehat, cocok buat olahragawan.
        </div>
        <div class="whitespace-normal mx-4 text-gray-600 flex items-center mt-4 h-full align-bottom">
          <div><!-- image --></div>
          <div>
            <div class="font-bold text-xl">Toni</div>
            <div>Olahragawan</div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div>
    <div class="mt-6 mx-auto flex justify-center testimony-picker" data-carousel-target="picker">      
    </div>
  </div>
</div>